---
---
@import "main";

.image-hover {
    background-image: url('_site/assets/images/Burble_Still.gif'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
}

.image-hover:hover {
    background-image: url('_site/assets/images/Burble_Live.gif'); /* Change on hover */
}
