---
---
@import "main";

img {
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.imageBox {
    position: relative;
    top: 0;
}

.imageBox .hoverImg {
    position: absolute;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.imageBox:hover .hoverImg {
    display: block;
}

.background {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}