---
---
@import "main";

:root {
    --separator_margin: 10%;
  }  

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-family: 'Trebuchet MS', serif;
    text-align: center;
    color: fuchsia;
}

h2 {
    font-family: 'Trebuchet MS', serif;
    text-align: center;
    color: rgb(255, 100, 0);
}

body {
    font-family: 'Trebuchet MS', serif;
    font-size: 22px;
    margin: 1vw 8vw 3vw;
    line-height: 1.5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.imageBox {
    position: relative;
    top: 0;
}

.imageBox .hoverImg {
    position: absolute;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.background {
    position: relative;
}

.overlay {
    position: absolute;
    top: var(--separator_margin);
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    box-shadow: purple 8px 5px 10px 10px; 
}

.overlay_center {
    position: absolute;
    bottom: var(--separator_margin);
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    box-shadow: green 8px 5px 10px 10px; 
}

.overlay_TL {
    position: absolute;
    top: var(--separator_margin);
    left: var(--separator_margin);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    box-shadow: yellow 8px 5px 10px 10px; 
}

.overlay_TR {
    position: absolute;
    top: var(--separator_margin);
    right: var(--separator_margin);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    box-shadow: orangered 8px 5px 10px 10px;
}

.img_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(201, 185, 201, 0.9);
    color: rgb(77, 71, 77);
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.overlay:hover .img_text {
   visibility: visible;
   opacity: 1;
}

.overlay_center:hover .img_text {
    visibility: visible;
    opacity: 1;
}
.overlay_TL:hover .img_text {
    visibility: visible;
    opacity: 1;
}

.overlay_TR:hover .img_text {
    visibility: visible;
    opacity: 1;
}